.navbar{
  margin: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  background-color: #24252a;
  color: aliceblue;
  height: 70px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.names{
  color: #95959b;
  padding: 25px;
  display: flex;
  gap: 25px;
}
.button{
  background-color:  #0087a8;
  color: #7bcce5;
  border: none;
  padding: 8px;
  width: 100px;
  margin-top: 20px;
  border-radius: 20px;
}
